# Git
.git
.gitignore

# Node modules
node_modules
backend/node_modules
frontend/node_modules

# Build artifacts
frontend/dist
frontend/build

# Logs
*.log
backend/logs

# Env files
.env
backend/.env

# IDE and OS files
.vscode/
.DS_Store
